  <h1>Reviews</h1>
    <h2><button><a href="/reviews/new">Create a Review</a></button></h2>
    
<div class="index-page">
      <% @reviews.each do |review| %>
      <div class="review-card">
          <h2>
             <a href="/reviews/<%= review.id %>"><%= review.movie_title %></a><br>
           </h2>
          <p>
             By <%= review.name %><br>
          </p>
        <img src="<%= review.image %>" alt="review"><br>

        <% if review.user && session[:user_id]==review.user.id %>
        <form action="/reviews/<%= review.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Review</button>
        </form> 

        <button><a href="/reviews/<%= review.id %>/edit">Edit Review</a></button>

        <% end %>
        </div>
    <% end %>
  </div>
